.episodesTableRoot {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    margin-top: 4rem;
    width: 70%;
    background-color: #e2e8f0;
    border-collapse: collapse;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    height: max-content;
}

.episodesTableWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.episodesThead {
    padding: 0 1.5rem;
    border-bottom: 1px solid #D3D3D3;
}

.episodesTableHead {
    height: 56px;
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 1fr 1fr 1.5fr 1fr;
    text-align: left;
    align-items: center;
    font-size: 18px;
    color: #153e5c;
    font-weight: 500;
}


.episodesTableHead :last-child {
    text-align: center;
}

.oneEpisode :last-child {
    text-align: center;
}

.oneEpisode {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 1fr 1fr 1.5fr 1fr;
    text-align: left;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #D3D3D3;
    color: #153e5c;
    padding: 0 1.5rem;
    font-size: 1rem;
}

.actionIcons {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

@media (max-width: 1500px) {
    .episodesTableHead {
        grid-template-columns: 0.3fr 1.3fr 1fr 1fr 1.3fr 1fr;
    }
    .oneEpisode {
        grid-template-columns: 0.3fr 1.3fr 1fr 1fr 1.3fr 1fr;
    }
}

@media (max-width: 1200px) {
    .episodesTableHead {
        grid-template-columns: 0.3fr 1.2fr 1fr 1fr 1fr 1fr;
    }
    .oneEpisode {
        grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr;
    }
}


@media (max-width: 600px) {
    .episodesTableRoot {
        width: 100%;
    }
    .episodeDate {
        display: none;
    }
    .episodesTableHead {
        grid-template-columns: 0.3fr 1.2fr 1fr 0.3fr;
    }
    .oneEpisode {
        grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
    }
}

@media (max-width: 1024px) {
    .episodesTableRoot {
        width: 90%;
    }
} 

.paginationWrapperEpisodes {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}


.searchEpisodeHeader {
    height: 3.75rem;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: #153e5c;
    font-weight: 500;
    border-bottom: 1px dashed;
}

.searchWrapper {
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBox {
    background: #1B2735;
    height: 1.875rem;
    border-radius: 40px;
    padding: 0.625rem;
}

.searchBox:hover > .searchInput {
    width: 25rem;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: #f2be54;
  color : #1B2735;
}

.searchIcon {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.searchButton {
    color: white;
    float: right;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background: #1B2735;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: 2px solid #f2be54;
    cursor: pointer;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 1.875rem;
    width: 0px;
}

#resetFilter {
    border: 1px solid #f2be54;
    background: #1B2735;
    color: white;
    border-radius: 8px;
    height: 1.875rem;
    font-size: 12px;
    text-transform: capitalize;
    cursor: pointer;
    
}

@media (max-width: 600px) {
    .searchBox:hover > .searchInput {
        width: 17rem;
    }
}

@media (max-width: 400px) {
    .searchBox:hover > .searchInput {
        width: 13rem;
    }
}

@media (max-width: 330px) {
    .searchBox:hover > .searchInput {
        width: 8rem;
    }
}

@media (max-width: 280px) {
    .searchBox:hover > .searchInput {
        width: 5rem;
    }
}