.oneEpisodeRoot {
    display: flex;
    flex-direction: column;
    margin-top: -18rem;
    width: 80%;
    background-color: #e2e8f0;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
}

.oneEpisodeWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
#oneEpisodeHeaderRoot {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #153e5c;
    font-size: 1.5rem;
    color: #e2e8f0;
    text-transform: capitalize;
    font-weight: normal;
}

.oneEpsiodeDetails {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.starIcon {
    font-size: 5rem;
    cursor: pointer;
    color: #e2e8f0;
}

.markedAsFav {
    color: #f2be54;
    font-size: 5rem;
    cursor: pointer;
}

.linkIcon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

#oneEpisodeCharacterList {
    background-color: #e2e8f0;
    text-align: center;
    padding: 1rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.oneEpisodeCharacter {
    margin: 0.625rem;
    padding: 0.625rem;
    border-radius: 4px;
    box-shadow:  rgba(0, 0, 0, 0.1) 2px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.875rem;
    color: #153e5c;
    justify-content: space-between;
    text-transform: capitalize;
}
.oneEpisodeUpper {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.oneEpisodeCharacterActions {
    margin-top: 0.75rem;
    display: flex;
    justify-content: space-evenly;
}

.oneEpisodeCharacterActions img {
    cursor: pointer;
}
.oneEpisodeCharacterLeftSide {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.oneEpisodeCharacterLeftSide img {
    height: 10rem;
    width: 10rem;
}

.oneEpisodeCharacterFooter {
    width: 100%;
    justify-content: center;
}

@media (max-width: 1024px) {
    .oneEpisodeRoot {
        width: 90%;
    }
    #oneEpisodeCharacterList {
        padding: 1rem 1rem;
        grid-template-columns: 1fr 1fr;
    }
    .oneEpisodeCharacterLeftSide img{
        width: 50%;
        object-fit: cover;
        border-radius: 3px;
    }

}    

@media (max-width: 700px) {
    .oneEpisodeRoot {
        width: 100%;
    }
    #oneEpisodeCharacterList {
        padding: 1rem 0;
        grid-template-columns: 1fr 1fr;
    }
    .oneEpisodeCharacter {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .oneEpisodeUpper {
        justify-content: space-between;
        flex-direction: column;
    }
    .oneEpisodeCharacterLeftSide img{
        width: 100%;
        object-fit: cover;
        border-radius: 3px;
    }
}

