.oneCharacterRoot {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.oneCharacterHeader {
    width: 100%;
    height: 12.5rem;
    margin-top: -12.5rem;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: relative;
    box-shadow: 0 3px 13px 3px rgba(119, 119, 119, 0.75);
}

.avatar {
    position: absolute;
    left: 43%;
    top: -7rem;
}
.oneCharacterImageWrapper {
    height: 12.5rem;
    width: 12.5rem;
    margin: auto;
    position: relative;
    padding: 4px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, rgba(96, 168, 233, 0.9), rgba(214, 47, 166, 0.3), rgba(214, 47, 166, 0.1));
}
.oneCharacterImage {
    width: 100%;
    height: 100%;
    margin: 0px;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    object-position: center center;
    object-fit: cover;
    border-radius: 50%;
}

.icon-wrapper {
    width: 2.5rem;
    height: 2.5rem;
    padding: 1rem;
    border-radius: 50%;
    border: 1px dashed #153e5c;
    position: absolute;
    top: 8.75rem;
    left: 69%;
}

.starIconCharacter {
    font-size: 5rem;
    cursor: pointer;
    color: #e2e8f0;
    position: absolute;
    left: 0;
    top: -1.1875rem;
}

.markedAsFavCharacter {
    color: #f2be54;
    font-size: 5rem;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: -1.1875rem;
}

.information {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
}

.oneCharacterName {
    font-size: 2rem;
    font-weight: 500;
    color: #153e5c;
    line-height: 1.5rem;
    text-transform: uppercase;
}


.oneCharacterTitle {
    margin: 0.75rem 0 0.5rem;
    font-size: 1.25rem;
    color: #D3D3D3;
    line-height: 1.5rem;
}

.oneCharacterTableRoot {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    margin-top: 1.5rem;
    background-color: #e2e8f0;
    border-collapse: collapse;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.oneCharacterTableWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.oneCharacterThead {
    padding: 0 1.5rem;
    border-bottom: 1px solid #D3D3D3;
}

.oneCharacterTableHead {
    height: 56px;
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 1fr 1fr 1.5fr 1fr;
    text-align: left;
    align-items: center;
    font-size: 18px;
    color: #153e5c;
    font-weight: 500;
}


.oneCharacterTableHead :last-child {
    text-align: center;
}

.oneCharacterEpisode {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 1fr 1fr 1.5fr 1fr;
    text-align: left;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #D3D3D3;
    color: #153e5c;
    padding: 0 1.5rem;
    font-size: 1rem;
}

.oneCharacterEpisode :last-child {
    text-align: center;
}

.oneChracterEpisode {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr 1fr 1fr 1.5fr 1fr;
    text-align: left;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #D3D3D3;
    color: #153e5c;
    padding: 0 1.5rem;
    font-size: 16px;
}

@media (max-width: 1500px) {
    .oneCharacterTableHead {
        grid-template-columns: 0.3fr 1.3fr 1fr 1fr 1.3fr 1fr;
    }
    .oneCharacterEpisode {
        grid-template-columns: 0.3fr 1.3fr 1fr 1fr 1.3fr 1fr;
    }
}

@media (max-width: 1200px) {
    .oneCharacterTableHead {
        grid-template-columns: 0.3fr 1.2fr 1fr 1fr 1fr 1fr;
    }
    .oneCharacterEpisode {
        grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .oneCharacterTableRoot{
        width: 100%;
    }
    .episodeDate {
        display: none;
    }
    .oneCharacterTableHead {
        grid-template-columns: 0.3fr 1.2fr 1fr 1fr;
    }
    .oneCharacterEpisode {
        grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
    }
    .avatar {
        left: 33%;
    }
    .oneCharacterInfo {
        padding: 0;
    }
}  